@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FAFAFA;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: all 0.3s ease;
    border-bottom: 1.5px solid #afadad;
}

header .container {
    display: flex;
    align-items: center;
}

header .container img {
    height: 100%;
    max-height: 36px;
    width: auto;
    object-fit: contain;
    margin-left: 30px;
}

header .container .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: center;
    margin-left: 320px;
    cursor: pointer;
}

header .container .menu ul li {
    margin-left: 5px;
    color: #4b4a4a;
    font-weight: 500;
    font-size: 15.5px;
}

header .container .menu ul li:hover {
    color: #000000;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 250px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15.5px;
    font-weight: 500;
}

.entrar {
    color: black;
    width: 95px;
    height: 40px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrar:hover{
    background-color: #ececec;
    border:1px solid #04012C;
}

.comecar {
    background-color: #04012C;
    color: #ffffff;
    width: 95px;
    height: 40px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comecar:hover{
    background-color: #181452;
}

.texto-banner{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.texto-banner > h1 {
    display: block; 
    text-align: center;
    margin: 160px auto 0 auto; 
    width: 100%;
    max-width: 900px;
    font-size: 80px;
    color: #04012C;
    font-weight: 900;
    letter-spacing: -4.6px;
    line-height: 1.1; 
}

.destaque {
    background: linear-gradient(135deg, #04012C 10%, #2563EB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-banner> p{
    text-align: center;
    font-size: 21px;
    margin-top: 35px;
    color: #4b4a4a;
}

.botoes-banner {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}

.agendar {
    background-color: #04012C;
    color: #ffffff;
    padding: 16px 30px; 
    border-radius: 7px;
}

.agendar:hover {
    background-color: #181452;
}

.conhecer{
    border:1px solid #04012C;
    padding: 16px 30px; 
    border-radius: 7px;
    font-size: 15.5px;
    color: #04012C;
}

.conhecer:hover{
    background-color: #ececec;
}

.linha{
    margin-top: 140px;
    margin-bottom: 50px;
    background-color: #afadad;
    height: 1.45px;
}

/* SEÇÃO PRODUTO */
.context_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_section{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 3vw;
}

.text_section > h2{
    font-size: 30px;
    font-family: 'Inter';
    color: #04012C;
    margin-bottom: 4vh;
}

.icon_text{
    display: flex;
    align-items: center;
    margin-top: 4vh;
}

.icon_text > p {
    margin-left: 1vw;
}

.context_card_section { 
    background:
        linear-gradient(to right, #04012C, #2563EB, #04012c) top / 100% 5px no-repeat,
        #dcdce0;
    width: 40vw; 
    height: 40vh; 
    border-radius: 15px; 
    margin-right: 3vw; 
    padding: 20px; 

    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.context_card_title > p{
    font-family: 'JetBrains Mono';
}

.monitoring_line_text > p{
    font-family: 'JetBrains Mono';
}

.context_card_title{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;   
}

#status_card{
    color: #00a63e;
}

.monitoring_line{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

.monitoring_line_text{
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.progress_bar{
    background-color: #4b4a4a;
    width: 35vw;
    height: 1.5vh;
    margin-left: 2vw;
    border-radius: 10px;
}

#progress_bar_cpu{
    background-color: #04012C;
    width: 10vw;
}

#progress_bar_memory{
    background-color: #FB2C36;
    width: 30vw;
}

/* Product Card */
.product_section{
    background-color: #04012C;
    color: #fafafa;
    height: 100vh;
    
}

.product_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15vh;
}

.product_title > h1{
    font-size: 50px;
    font-family: 'Inter';    
}

.product_subtitle{
    width: 50vw;
    text-align: center;
}
.product_subtitle > h3{
    margin-top: 2vh;
    color: #afadad;
    font-size: 16px;
    font-family: 'Inter';    
}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_card{
    background-color: #110e37;
    width: 30vw;
    height: 46vh;
    margin: 10vh 2vw;
    border-radius: 20px;
    padding: 3vw;
    border: solid 1px #51A2FF;
}

.product_card > img{
    margin-bottom: 2vh;
}

.product_card > h4{
    margin-bottom: 2vh;
    font-family: 'Inter';
    font-size: 18px;
}